

body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}

.id
{
    background-color: brown;
}
.newname
{
    background-color: aquamarine;
    
}
#newid
{
    background-color: blue;
}